#Flask==0.8
#Flask-Script==0.3.3
#Flask-Sendmail==0.1
#-e git+https://github.com/ajford/flask-sendmail.git#egg=master
#Jinja2==2.6
#Werkzeug==0.8.3
#argparse==1.2.1
#htables==0.5.1
#blinker==1.2
#flatland==0.8
#requests==0.11.1
#simplejson==2.5.0
#path.py==2.2.2
#supervisor==3.0.1
#psycopg2==2.4.5
#rdflib==4.0.1
#raven==5.1.1
#sparql-client==3.4

blinker==1.2
certifi==2019.11.28
chardet==3.0.4
dnspython==1.16.0
enum34==1.1.6
eventlet==0.25.1
Fabric==1.4.1
Flask==0.8
Flask-Script==0.3.3
-e git+https://github.com/ajford/flask-sendmail.git@65f41c0e943a70cb599d60c4bfe11a3b9f273355#egg=Flask_Sendmail
flatland==0.8
greenlet==0.4.15
htables==0.5.1
html5lib==1.0.1
isodate==0.6.0
Jinja2==2.6
meld3==2.0.0
mock==0.8.0
monotonic==1.5
nose==1.1.2
path.py==2.2.2
Pillow==1.7.7
psycopg2==2.4.5
pycrypto==2.5
pyparsing==1.5.7
pyrepl==0.9.0
raven==5.1.1
rdflib==4.0.1
requests==0.11.1
simplejson==2.5.0
six==1.14.0
sparql-client==3.4
SPARQLWrapper==1.8.5
ssh==1.7.13
supervisor==3.0.1
unittest2==0.5.1
webencodings==0.5.1
Werkzeug==0.8.3
wmctrl==0.3
